<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebMongo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            /* padding: 10px; */
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            color: #404E67;
            background: #F5F7FA;
        }

        .container {

            width: 100%;

        }

        .card {
            border-radius: 20px;
            margin-top: 10px;
        }

        .card-body {
            padding: 30px 50px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            background: #fff;
        }

        .card2 {
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .card-body.tb {
            padding: 40px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            background: #fff;
        }

        p {
            padding-top: 15px;
            padding-bottom: -5px;
        }

        .edit{
            margin-top: 30px;
            color: #404E67;
            background: #F5F7FA;
            padding: 30px;
        }
        .table-wrapper {
            width: 100%;
            margin: auto;
            background: #fff;
            padding: 50px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
        }
        .back {
            float: right;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">