<div class="card">
  <div class="card-body">
    <h1 class="card-title">BREAD(Browse, Read, Edit, Add, Delete)</h1>
    <h3 class="card-title">Filters</h3>
    <form>
      <div class="form-group row">
        <label for="chekId" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekId">
          ID
        </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="id" placeholder="ID">
        </div>
      </div>

      <div class="form-group row">
        <label for="chekString" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekString">
          String
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="string" placeholder="String">
        </div>
      </div>

      <div class="form-group row">
        <label for="chekInteger" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekInteger">
          Integer
        </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="integer" placeholder="Integer">
        </div>
      </div>

      <div class="form-group row">
        <label for="chekFloat" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekFloat">
          Float
        </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="float" placeholder="Float">
        </div>
      </div>

      <div class="form-group row">
        <label for="chekDate" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekDate">
          Date
        </label>
        <div class="col-sm-2">
          <input type="date" class="form-control" id="date" placeholder="start date">
          <p>to</p>
          <input type="date" class="form-control" id="date" placeholder="end date">
        </div>
      </div>

      <div class="form-group row">
        <label for="chekBoolean" class="col-sm-2 col-form-label">
          <input class="form-check-input" type="checkbox" value="" id="chekBoolean">
          Boolean
        </label>
        <div class="col-sm-10">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected disabled>Choose the boolean...</option>
            <option value="1">True</option>
            <option value="2">False</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-dark">Search</button>
          <button type="submit" class="btn btn-dark">reset</button>
        </div>
      </div>
    </form>

  </div>
</div>